doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/kindeditor/kindeditor-all-min.js')
    script(type='text/javascript',src='/kindeditor/lang/zh-CN.js')
  body
    block content
